.bg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgcontainer{
width: 1000px;
height: 640px;
margin-top: 50px;
background-color: rgba(247, 244, 244, 0.993);
/*
display: flex;
justify-content: center;
align-items: flex-start;
*/
}

.head{
display: flex;
margin-bottom: 20px;
margin-top: 30px;
}
.title{
margin-top: 25px;
margin-left: 25px;
margin-right: 50px;
margin-bottom: 10px;
font-size: 30px;
font-weight: bold;
}
.select-area{
    margin-top: 20px;
    border:2px solid black;
    border-radius: 1rem;
    width: 250px;
    height: 35px;
    padding: 5px;
    font-size: 15px;
}
.tab1{
    margin-top: 25px;
}
.tab1 td{
    
    border:2px solid black;
    width:80px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    font-size:15px;
    font-weight: bold;
}
.city{
    display: flex;
    font-weight: bolder;
   
    vertical-align: middle;
    margin-left: 25px;
}
#dash{
    flex:auto;
    border-top: 1px dashed black;
    margin: 15px;
}
.cityname{
    font-size: 25px;
}
.time{
padding-top:5px;
}
.content{
    display: flex;
}
.content>.box{
    width: 270px;
    margin:10px;
    margin-left: 20px;
   
}
.area{
    border: 2px solid black;
    width: 270px;
    height: 65px;
    
    
}
.area td{
    border: 2px solid black;
    text-align:center;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bolder;
}
.area td:nth-child(2){
    background-color: #FF5959;
}
.vbox{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 266px;
    height: 310px;
    padding-top: 10px;
    
}

.value{
   margin-left: auto;
   margin-right: auto;
   height: 300px;
    font-size: 17px;
    width: 240px;
    
    
}
.value tr{
    border-bottom: 1px solid black;
}
.value tr:nth-last-child(1){
    border-bottom: none;
}

.value td:nth-child(1){
    text-align:justify;
    vertical-align: middle;
    padding: 15px;
    font-weight: bolder;

}
.value td:nth-child(3){
    text-align:end;
    vertical-align: middle;
    padding: 15px;
    font-weight: bolder;
}
.a{
    border: 2px solid black;
    width: 270px;
    height: 65px;
    margin-bottom: 30px;
}
.a td{
    border: 2px solid black;
    text-align:center;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bolder;
}
.copyright{
    border: 1px solid black;
    margin-top: 30px;
    height:30px;
    background: black;
    color: white;
    flex:none;
    display: flex;
}
.sourse{
    margin-top: 5px;
    margin-left: 70px;
}
.cy{
    margin-top: 5px;
    margin-left: 400px;
}
