.bg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.bgcontainer{
width: 1000px;
height: 640px;
margin-top: 50px;
background-color: rgba(247, 244, 244, 0.993);
/*
display: flex;
justify-content: center;
align-items: flex-start;
*/
}

.head{
display: flex;
margin-left: 45px;
margin-bottom: 20px;
margin-top: 30px;
}
.range td:nth-child(1){
    background-color: #ABFFAB;
}
.range td:nth-child(2){
    background-color: #FFFFAB;
}
.range td:nth-child(3){
    background-color: #FFC559;
}
.range td:nth-child(4){
    background-color: #FF5959;
}
.range td:nth-child(5){
    background-color: #B959FF;
}

.range td:last-child{
background-color: rgb(116, 43, 112);
}
.title{
margin-top: 25px;
margin-left: 25px;
margin-right: 50px;
margin-bottom: 10px;
font-size: 30px;
font-weight: bold;
}
.select-area{
    margin-top: 20px;
    border:2px solid black;
    border-radius: 1rem;
    width: 250px;
    height: 35px;
    padding: 5px;
    font-size: 15px;
}
.tab1{
    margin-top: 25px;
}
.tab1 td{
    
    border:2px solid black;
    width:80px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    font-size:15px;
    font-weight: bold;
}
.city{
    display: flex;
    font-weight: bolder;
   
    vertical-align: middle;
    margin-left: 25px;
}
#dash{
    flex:auto;
    border-top: 1px dashed black;
    margin: 15px;
}
.cityname{
    margin-left: 45px;
    font-size: 25px;
}
.time{
    margin-right: 65px;
    padding-top:5px;
}
.content{
    display: flex;
    width: 900px;
    margin:0px auto;
    /* border: 1px solid red; */
  
}
/* .content>.box{
    width: 270px;
    margin:10px;
    margin-left: 20px; */
   
}
.box1{
    width:298px;
    /* border: 1px solid red; */
}
.valuecolumn{
    /* border: 2px solid purple; */
    margin-left: 15px;
    margin-top: 34px;
}
.areacolumn1{
    width:250px;
    height:60px;
    border: 2px solid black;
    display: flex;
}
.areacolumn1 div:first-child{
    width:145px;
    height: 45px;
    border-right: 1px solid black;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top:15px;
}
.areacolumn1 div:last-child{
    width: 105px;
    height: 45px;
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
    background-color: #FF5959;
}


/* .area{
    border: 2px solid black;
    width: 270px;
    height: 65px;
    
    
}
.area td{
    border: 2px solid black;
    text-align:center;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bolder;
}
.area td:nth-child(2){
    background-color: #FF5959;
} */
.vbox{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    /* width: 266px;
    height: 310px;
    padding-top: 10px;
     */
}

.value{
   margin: 0px auto;
   /* height: 300px;
    font-size: 16px;
    width: 240px; */
    
    
}
.value tr{
    border-bottom: 1px solid black;
}
.value tr:nth-last-child(1){
    border-bottom: none;
}

.value td:nth-child(1){
    text-align:start;
    vertical-align: middle;
    padding: 15px;
    font-weight: bolder;
}
.value span{
    font-size: 11px;
    font-weight:normal;
}
.value #sub{
    vertical-align: sub;
}
.value #sup{
    vertical-align: super;
} 
/*
.value td:nth-last-child(2){
    font-size: 12px;
    text-align: justify;
    vertical-align: middle;
}*/
.value td:nth-child(2){
    text-align:end;
    vertical-align: middle;
    padding: 15px;
    font-weight: bolder;
}
.box2{
    width:598px;
    /* border: 1px solid red; */
    padding-top:20px;
    padding-left: 20px;
    margin-left: 45px;
    display: flex;
    flex-wrap: wrap;
}
.areacolumn2{
    width:250px;
    height:60px;
    margin: 14px;
    border: 2px solid black;
    display: flex;
}
.areacolumn2 div:first-child{
    width:145px;
    height: 45px;
    border-right: 1px solid black;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top:15px;
}
.areacolumn2 div:last-child{
    width: 105px;
    height: 45px;
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
}
.areacolumn2:nth-child(3n+1) div:last-child, .areacolumn2:nth-child(6n+3) div:last-child{
    background-color: #FF5959;
}
.areacolumn2:nth-child(6n+5) div:last-child, .areacolumn2:nth-child(6n+6) div:last-child{
    background-color: #FFC559;
}
.areacolumn2:nth-child(6n+2) div:last-child{
    background-color:#B959FF;
}
.a{
    border: 2px solid black;
    width: 270px;
    height: 65px;
    margin-bottom: 30px;
}
.a td{
    border: 2px solid black;
    text-align:center;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bolder;
}
.copyrights{
    width: 986px;
    border: 1px solid black;
    margin: 0px auto;
    padding: 6px;
    background: black;
    color: white;
    display: flex;
}
.sourse{
  margin-left: 60px;
}
.rights{
   margin-left: 360px;
}
